body{
    font-family: Arial, Helvetica, sans-serif;
    background: #eef2f3;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background: #4facfe;
    color: white;
    padding: 20px;
}

.search{
    margin: 20px;
}

.search input{
    padding: 10px;
    width: 200px;
}

.search button{
    padding: 10px 15px;
    background: #4facfe;
    color:white;
    border: none;
    cursor: pointer;
}

.result{
    margin-top: 30px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    display: inline-block;
}

footer{
    margin-top: 30px;
}